<!DOCTYPE html></DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banco Pichincha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
        .menu-banco{
            background-color:gold
        }
        .logo-img {

            padding-top: 50px;
            width: 100%;

        }
        img{
            vertical-align: bottom
        }
        .logo {
            width: 100%;
            vertical-align: bottom;
            position: relative;
        }
        .links-encabezado {
            text-align: right;
        }
        .encabezado {
            padding-top: 20px;
            width: 100%;
            font-family: 'Prelo Medium',sans-serif;
            text-align: right;
        }
        .acceso-boton {
            font-family: 'Prelo Medium',sans-serif;
            font-size: 16px;
            color: #fff !important;
            background-color: #0F265C;
            padding: 15px 25px;
            border-radius: 5px;
            display: inline-block;
            min-width: 120px;
            text-align: center;
        }
        .input-buscar {
            background: #eeeeee;
            padding: 10px;
            border: none;
            box-shadow: none;
            width: 155px;
            margin-left: 10px;
            font-family: 'Prelo Medium',sans-serif;
            font-size: 16px;
            border-radius: 3px;
        }
        .boton-buscar {
            background: #eeeeee;
            font-family: 'Prelo Medium',sans-serif;
            position: relative;
            right: 30px;
        }
        .caja-banco{

            background-color: gold;
            max-width: 300px;
            padding: 30px;
            box-sizing: border-box;
            margin: 0 auto;
            width: 300px;
            text-align: center;
        }
        .tabla-responsive{
            width: 100%;
        }

        .separador{
            margin-top:20px;
            margin-bottom:20px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-3">
        <div class="logo">
            <a href=""><img class="logo-img" src="/imagenes/logo.png" alt=""></a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="encabezado">
                <span class="links-encabezado"> Ecuador | <a href="">¿Aún no eres cliente? </a>
                    <button class="acceso-boton">Acceso clientes</button>
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="encabezado">
                <table class="table table-md">
                    <tr>
                        <td>Personas <i class="fa fa-angle-down"></i></td>
                        <td>Empresas <i class="fa fa-angle-down"></i></td>
                        <td>Pymes <i class="fa fa-angle-down"></i></td>
                        <td>Microempresarios <i class="fa fa-angle-down"></i></td>
                        <td>
                            <span>
                                <input type="text" class="input-buscar">
                                <a class="boton-buscar" href=""><i class="fa fa-search"></i></a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>


            <!--<span>
                <input type="text" class="input-buscar">
                <a class="boton-buscar"><i class="fa fa-search"></i></a>
            </span>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 menu-banco">
        <table class="table table-md">
            <tr>
                <th><button class="btn btn-lg btn-gold">Cuentas</button></th>
                <th><button class="btn btn-lg btn-gold">Tarjetas</button></th>
                <th><button class="btn btn-lg btn-gold">Creditos</button></th>
                <th><button class="btn btn-lg btn-gold">Inversiones</button></th>
                <th><button class="btn btn-lg btn-gold">Servicios</button></th>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="logo">
            <img class="logo" src="/imagenes/fondo-ahorros.png" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Principal </a> > </li>
            <li><a href="#">Microempresario </a> > </li>
            <li><a href="#">Cuentas </a> > </li>
            <li><a href="#">Ahorros </a> > </li>
            <li><a href="#">Ahorros</a> > </li>
        </ol>
    </div>
    <div class="separador"></div>
    <div class="row">
        <div class="col-md-8">
            <h1>Ahorros</h1>
            <p>Abre tu cuenta de ahorros, deposita y controla tu dinero para hacer realidad tus sueños.</p>
            <h3>Beneficios:</h3>
            <p>
                <ul>
                    <li>Abre tu cuenta sin monto mínimo de depósito.</li>
                    <li>Accede a tu dinero a través de nuestros canales: Mi Vecino, Banca Electrónica, Banca Interactiva y cajeros automáticos.</li>
                    <li>Realiza pagos y transferencias fácilmente cuando lo necesites.</li>
                    <li>Recibe intereses mensuales de acuerdo al saldo de tu cuenta.</li>
                </ul>
            </p>
            <h3>Características:</h3>
            <p>
            <ul>
                <li>Sin monto mínimo de depósito.</li>
                <li>Consulta tus saldos y movimientos en nuestros canales.</li>
                <li>Pago de intereses mensuales de acuerdo a tu saldo promedio.</li>
                <li>Recibe sin costo una tarjeta de débito y úsala para hacer compras.</li>
            </ul>
            </p>
            <h3>Requisitos <i class="fa fa-angle-down"></i></h3>
            <button class="btn btn-lg btn-warning">Simulador</button>
        </div>
        <div class="col-md-4">
            <div class="caja-banco">
                <h4>Solicita tu cuenta ahorra</h4>
                <p>Ahorra desde hoy para que te asegures de obtener aquello que planeas.</p>
                <button class="acceso-boton">Solicítala</button>
            </div>
            <div class="separador"></div>
            <div class="row">
                <h3>Tips:</h3>
                <p>
                <ul>
                    <li>Una decisión puede hacer la diferencia. Ahorra 10% de sus ingresos y nota los cambios a futuro.</li>
                    <li>¿Estás preparado en caso de alguna emergencia? El ahorro te permite enfrentar una situación inesperada.</li>
                </ul>
                </p>
            </div>



        </div>
    </div>

</div>


</body>
</html>

