
<% const nombre='Caro';// codigo JS%>
<%= nombre%>
<% const  arreglo =[1,2,3,4,5]%>

<% arreglo.forEach((valorActual)=>{%>
<% valorActual %>
<% })%>})

<% if(estaVivo){%>
    <h1>ESTA VIVO!!</h1>
<% }else{%>
    <h1>Se murió :( </h1>
<% }%>