<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <style>
        /*lenguaje  .css */
        /* select {propiedad:valor}*/
        h1{
            color: red;
            background-color:yellow;
        }

        /*selector->etiqueta*/
        p,h2,div{
            color:green;
            background-color: coral;
        }

        /*selecterp->id*/
        #adios{
            color: purple;
            background-color: pink;
        }

        /*selector->clase*/
        .verde {
            color:green;
            background-color: sandybrown;
        }


        p{
            color:coral;
            background-color: green;
        }
        .morado{
            color: purple;
        }

        .verde {
            color:green;
            background-color: brown;
        }

        .azul{
            color: darkblue;
        }

        p.verde{
            color: orange;
        }

        p.verde.azul{
            color: black;
        }
    </style>
</head>
<body>
    <h1>Hola</h1>
    <h1 id="adios">Adios</h1>
    <h1 class="verde">Bienvenidos</h1>

    <p>Barcelona</p>
    <div>Liga</div>
    <h2>Emelec</h2>

    <p class="morado verde azul">Lorem Ipsum</p>
    <div class="verde">verde uno</div>
    <p class="verde azul">verde dos</p>
</body>
</html>